@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
.navbarMain{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
}

/* custom css for calender */


.react-calendar__tile {
    background-color: #fce4ec; /* Light pink background for each day */
    color: #d81b60; /* Text color */
    margin: 5px; /* Spacing between day tiles */
    border-radius: 8px; /* Optional rounded corners for tiles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .react-calendar__tile:hover {
    background-color: #f48fb1; /* Slightly darker pink on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  .react-calendar__tile--active {
    background-color: #d81b60; /* Deep pink for selected date */
    color: #ffffff; /* White text for selected date */
  }
  
  .react-calendar__tile--now {
    border: 2px solid #d81b60; /* Highlight today's date */
  }

  .react-calendar__month-view__weekdays__weekday{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 10px;
    border-radius: 5px;
  }
  .react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
  }
  
  .react-calendar__navigation__label__labelText{
    color: rgb(216, 27, 96);
    font-weight: bold;
    background-color:transparent;
    
  }


  /* send message button css */
  .sendMsg{
    box-shadow: rgb(216, 27, 96) 0px 30px 40px -7px;
  }
  .sendMsg:hover{
    box-shadow: rgb(216, 27, 96) 0px 10px 40px -7px;
  }


  /* carousel */
  /* Custom CSS to adjust the height */
.carousel .slide img {
  object-fit: cover;
  width: 100%;
  height: 300px; /* Adjust the height to your preference */
}

.carousel .carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Style the navigation arrows */
}

.carousel {
  max-height: 300px; /* Control the height of the entire carousel */
  margin-bottom: 10px;
}


/* menu link */
.slink {
  transition: transform 0.5s ease; /* Smooth transition for both transform and color */
}

.slink:hover {
  transform: rotate(180deg); /* Rotate 180 degrees on hover */
}

/* filter button from shop page */
.filterBtn{
  box-shadow: rgb(216, 27, 96) 0px 10px 40px -7px;
}